body {
    font-family: sans-serif;
    font-size: 14pt;
    background: #323232;
    color: #ddd;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-shadow: 3px 3px 3px #000;
}

a, a:visited {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, textarea {
    padding: 5px;
    background: #aaa;
    color: #323232;
    border: 2px solid #323232;
    border-radius: 5px;
}

input {
    margin: 0;
}

textarea {
    margin: 10px auto;
    width: 90%;
}

button {
    border-radius: 5px;
    background: #a2a2a2;
    border: 2px solid #323232;
    color: #000000;
    margin: 5px;
    padding: 10px;
    font-size: 12pt;
}

.btn-blue {
    background: #0000a2;
    color: #ddd;
}

.btn-red {
    background: #a20000;
    color: #ddd;
}

.btn-green {
    background: #007200;
    color: #ddd;
}

.container {
    margin: 0 auto;
    width: 500px;
    overflow: auto;
}

.subContainer {
    background: #00000055;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 auto;
}

.buttons {
    text-align: center;
    margin: 0 auto;
}

.left {
    text-align: left;
}

#dosage {
    margin: 0 5px;
    width: 75px;
}

#menu {
    display: none;
}

#text {
    display: none;
}

#results {
    display: none;
}

#voice {
    display: none;
}

#image {
    display: none;
}

#clear {
    display: none;
}

#duration {
    margin: 5px;
    font-size: 34pt;
}

#confirmation {
    margin: 0 auto;
    display: none;
    background: #000000;
    color: #007200;
    text-decoration: bold;
    border-radius: 5px;
    width: 350px;
    padding: 5px 10px;
    text-align: center;
}
