body {
    font-family: sans-serif;
    background: #323232;
    color: #ddd;
    margin: 10px 50px;
}

a, a:visited {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    margin: 0px;
    padding: 5px;
    background: #aaa;
    color: #323232;
    border: none;
    border-radius: 5px;
}

#dosage {
    margin: 0 5px;
    width: 75px;
}

#menu {
    display: none;
}

#results {
    display: none;
}

.btn {
    border-radius: 5px;
    background: #a2a2a2;
    border: 2px solid #323232;
    color: #000000;
    margin: 5px;
    padding: 10px;
}

.btn-blue {
    background: #0000a2;
    color: #ddd;
}

.btn-red {
    background: #a20000;
    color: #ddd;
}

.btn-green {
    background: #007200;
    color: #ddd;
}
