/*
https://codepen.io/kryo2k/pen/xbxjGP
*/

.vortex {
    width: 480px;
    height: 480px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -240px;
    position: absolute;
    text-align: center;
    z-index: -1;
}

.ring {
    margin: 0 auto;
    position: absolute;
    text-align: center;
}

@-webkit-keyframes el-animate-1 {
    0% {
        border-color: #f7f7f7;
        transform: rotate(0deg);
    }

    25% {
        border-color: #097909;
        transform: rotate(45deg);
    }

    75% {
        border-color: #7909f7;
        transform: rotate(135deg);
    }

    100% {
        border-color: #f7f7f7;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-1 {
    0% {
        border-color: #f7f7f7;
        transform: rotate(0deg);
    }

    25% {
        border-color: #097909;
        transform: rotate(45deg);
    }

    75% {
        border-color: #7909f7;
        transform: rotate(135deg);
    }

    100% {
        border-color: #f7f7f7;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-1 {
    0% {
        border-color: #f7f7f7;
        transform: rotate(0deg);
    }

    25% {
        border-color: #097909;
        transform: rotate(45deg);
    }

    75% {
        border-color: #7909f7;
        transform: rotate(135deg);
    }

    100% {
        border-color: #f7f7f7;
        transform: rotate(180deg);
    }
}

.ring.el-1 {
    border: 2px solid black;
    border-color: #f7f7f7;
    left: 8px;
    top: 8px;
    width: 464px;
    height: 464px;
    border-radius: 162.4px;
    -webkit-animation: el-animate-1 2.5s linear;
    -moz-animation: el-animate-1 2.5s linear;
    animation: el-animate-1 2.5s linear;
    -webkit-animation-delay: 3.0208333333s;
    -moz-animation-delay: 3.0208333333s;
    animation-delay: 3.0208333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-2 {
    0% {
        border-color: #eeeeee;
        transform: rotate(0deg);
    }

    25% {
        border-color: #117511;
        transform: rotate(45deg);
    }

    75% {
        border-color: #7511ee;
        transform: rotate(135deg);
    }

    100% {
        border-color: #eeeeee;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-2 {
    0% {
        border-color: #eeeeee;
        transform: rotate(0deg);
    }

    25% {
        border-color: #117511;
        transform: rotate(45deg);
    }

    75% {
        border-color: #7511ee;
        transform: rotate(135deg);
    }

    100% {
        border-color: #eeeeee;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-2 {
    0% {
        border-color: #eeeeee;
        transform: rotate(0deg);
    }

    25% {
        border-color: #117511;
        transform: rotate(45deg);
    }

    75% {
        border-color: #7511ee;
        transform: rotate(135deg);
    }

    100% {
        border-color: #eeeeee;
        transform: rotate(180deg);
    }
}

.ring.el-2 {
    border: 2px solid black;
    border-color: #eeeeee;
    left: 16px;
    top: 16px;
    width: 448px;
    height: 448px;
    border-radius: 156.8px;
    -webkit-animation: el-animate-2 2.5s linear;
    -moz-animation: el-animate-2 2.5s linear;
    animation: el-animate-2 2.5s linear;
    -webkit-animation-delay: 2.9166666667s;
    -moz-animation-delay: 2.9166666667s;
    animation-delay: 2.9166666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-3 {
    0% {
        border-color: #e6e6e6;
        transform: rotate(0deg);
    }

    25% {
        border-color: #1a711a;
        transform: rotate(45deg);
    }

    75% {
        border-color: #711ae6;
        transform: rotate(135deg);
    }

    100% {
        border-color: #e6e6e6;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-3 {
    0% {
        border-color: #e6e6e6;
        transform: rotate(0deg);
    }

    25% {
        border-color: #1a711a;
        transform: rotate(45deg);
    }

    75% {
        border-color: #711ae6;
        transform: rotate(135deg);
    }

    100% {
        border-color: #e6e6e6;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-3 {
    0% {
        border-color: #e6e6e6;
        transform: rotate(0deg);
    }

    25% {
        border-color: #1a711a;
        transform: rotate(45deg);
    }

    75% {
        border-color: #711ae6;
        transform: rotate(135deg);
    }

    100% {
        border-color: #e6e6e6;
        transform: rotate(180deg);
    }
}

.ring.el-3 {
    border: 2px solid black;
    border-color: #e6e6e6;
    left: 24px;
    top: 24px;
    width: 432px;
    height: 432px;
    border-radius: 151.2px;
    -webkit-animation: el-animate-3 2.5s linear;
    -moz-animation: el-animate-3 2.5s linear;
    animation: el-animate-3 2.5s linear;
    -webkit-animation-delay: 2.8125s;
    -moz-animation-delay: 2.8125s;
    animation-delay: 2.8125s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-4 {
    0% {
        border-color: #dddddd;
        transform: rotate(0deg);
    }

    25% {
        border-color: #226c22;
        transform: rotate(45deg);
    }

    75% {
        border-color: #6c22dd;
        transform: rotate(135deg);
    }

    100% {
        border-color: #dddddd;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-4 {
    0% {
        border-color: #dddddd;
        transform: rotate(0deg);
    }

    25% {
        border-color: #226c22;
        transform: rotate(45deg);
    }

    75% {
        border-color: #6c22dd;
        transform: rotate(135deg);
    }

    100% {
        border-color: #dddddd;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-4 {
    0% {
        border-color: #dddddd;
        transform: rotate(0deg);
    }

    25% {
        border-color: #226c22;
        transform: rotate(45deg);
    }

    75% {
        border-color: #6c22dd;
        transform: rotate(135deg);
    }

    100% {
        border-color: #dddddd;
        transform: rotate(180deg);
    }
}

.ring.el-4 {
    border: 2px solid black;
    border-color: #dddddd;
    left: 32px;
    top: 32px;
    width: 416px;
    height: 416px;
    border-radius: 145.6px;
    -webkit-animation: el-animate-4 2.5s linear;
    -moz-animation: el-animate-4 2.5s linear;
    animation: el-animate-4 2.5s linear;
    -webkit-animation-delay: 2.7083333333s;
    -moz-animation-delay: 2.7083333333s;
    animation-delay: 2.7083333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-5 {
    0% {
        border-color: #d5d5d5;
        transform: rotate(0deg);
    }

    25% {
        border-color: #2b682b;
        transform: rotate(45deg);
    }

    75% {
        border-color: #682bd5;
        transform: rotate(135deg);
    }

    100% {
        border-color: #d5d5d5;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-5 {
    0% {
        border-color: #d5d5d5;
        transform: rotate(0deg);
    }

    25% {
        border-color: #2b682b;
        transform: rotate(45deg);
    }

    75% {
        border-color: #682bd5;
        transform: rotate(135deg);
    }

    100% {
        border-color: #d5d5d5;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-5 {
    0% {
        border-color: #d5d5d5;
        transform: rotate(0deg);
    }

    25% {
        border-color: #2b682b;
        transform: rotate(45deg);
    }

    75% {
        border-color: #682bd5;
        transform: rotate(135deg);
    }

    100% {
        border-color: #d5d5d5;
        transform: rotate(180deg);
    }
}

.ring.el-5 {
    border: 2px solid black;
    border-color: #d5d5d5;
    left: 40px;
    top: 40px;
    width: 400px;
    height: 400px;
    border-radius: 140px;
    -webkit-animation: el-animate-5 2.5s linear;
    -moz-animation: el-animate-5 2.5s linear;
    animation: el-animate-5 2.5s linear;
    -webkit-animation-delay: 2.6041666667s;
    -moz-animation-delay: 2.6041666667s;
    animation-delay: 2.6041666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-6 {
    0% {
        border-color: #cccccc;
        transform: rotate(0deg);
    }

    25% {
        border-color: #336433;
        transform: rotate(45deg);
    }

    75% {
        border-color: #6433cc;
        transform: rotate(135deg);
    }

    100% {
        border-color: #cccccc;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-6 {
    0% {
        border-color: #cccccc;
        transform: rotate(0deg);
    }

    25% {
        border-color: #336433;
        transform: rotate(45deg);
    }

    75% {
        border-color: #6433cc;
        transform: rotate(135deg);
    }

    100% {
        border-color: #cccccc;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-6 {
    0% {
        border-color: #cccccc;
        transform: rotate(0deg);
    }

    25% {
        border-color: #336433;
        transform: rotate(45deg);
    }

    75% {
        border-color: #6433cc;
        transform: rotate(135deg);
    }

    100% {
        border-color: #cccccc;
        transform: rotate(180deg);
    }
}

.ring.el-6 {
    border: 2px solid black;
    border-color: #cccccc;
    left: 48px;
    top: 48px;
    width: 384px;
    height: 384px;
    border-radius: 134.4px;
    -webkit-animation: el-animate-6 2.5s linear;
    -moz-animation: el-animate-6 2.5s linear;
    animation: el-animate-6 2.5s linear;
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-7 {
    0% {
        border-color: #c4c4c4;
        transform: rotate(0deg);
    }

    25% {
        border-color: #3c603c;
        transform: rotate(45deg);
    }

    75% {
        border-color: #603cc4;
        transform: rotate(135deg);
    }

    100% {
        border-color: #c4c4c4;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-7 {
    0% {
        border-color: #c4c4c4;
        transform: rotate(0deg);
    }

    25% {
        border-color: #3c603c;
        transform: rotate(45deg);
    }

    75% {
        border-color: #603cc4;
        transform: rotate(135deg);
    }

    100% {
        border-color: #c4c4c4;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-7 {
    0% {
        border-color: #c4c4c4;
        transform: rotate(0deg);
    }

    25% {
        border-color: #3c603c;
        transform: rotate(45deg);
    }

    75% {
        border-color: #603cc4;
        transform: rotate(135deg);
    }

    100% {
        border-color: #c4c4c4;
        transform: rotate(180deg);
    }
}

.ring.el-7 {
    border: 2px solid black;
    border-color: #c4c4c4;
    left: 56px;
    top: 56px;
    width: 368px;
    height: 368px;
    border-radius: 128.8px;
    -webkit-animation: el-animate-7 2.5s linear;
    -moz-animation: el-animate-7 2.5s linear;
    animation: el-animate-7 2.5s linear;
    -webkit-animation-delay: 2.3958333333s;
    -moz-animation-delay: 2.3958333333s;
    animation-delay: 2.3958333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-8 {
    0% {
        border-color: #bbbbbb;
        transform: rotate(0deg);
    }

    25% {
        border-color: #445c44;
        transform: rotate(45deg);
    }

    75% {
        border-color: #5c44bb;
        transform: rotate(135deg);
    }

    100% {
        border-color: #bbbbbb;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-8 {
    0% {
        border-color: #bbbbbb;
        transform: rotate(0deg);
    }

    25% {
        border-color: #445c44;
        transform: rotate(45deg);
    }

    75% {
        border-color: #5c44bb;
        transform: rotate(135deg);
    }

    100% {
        border-color: #bbbbbb;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-8 {
    0% {
        border-color: #bbbbbb;
        transform: rotate(0deg);
    }

    25% {
        border-color: #445c44;
        transform: rotate(45deg);
    }

    75% {
        border-color: #5c44bb;
        transform: rotate(135deg);
    }

    100% {
        border-color: #bbbbbb;
        transform: rotate(180deg);
    }
}

.ring.el-8 {
    border: 2px solid black;
    border-color: #bbbbbb;
    left: 64px;
    top: 64px;
    width: 352px;
    height: 352px;
    border-radius: 123.2px;
    -webkit-animation: el-animate-8 2.5s linear;
    -moz-animation: el-animate-8 2.5s linear;
    animation: el-animate-8 2.5s linear;
    -webkit-animation-delay: 2.2916666667s;
    -moz-animation-delay: 2.2916666667s;
    animation-delay: 2.2916666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-9 {
    0% {
        border-color: #b3b3b3;
        transform: rotate(0deg);
    }

    25% {
        border-color: #4d584d;
        transform: rotate(45deg);
    }

    75% {
        border-color: #584db3;
        transform: rotate(135deg);
    }

    100% {
        border-color: #b3b3b3;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-9 {
    0% {
        border-color: #b3b3b3;
        transform: rotate(0deg);
    }

    25% {
        border-color: #4d584d;
        transform: rotate(45deg);
    }

    75% {
        border-color: #584db3;
        transform: rotate(135deg);
    }

    100% {
        border-color: #b3b3b3;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-9 {
    0% {
        border-color: #b3b3b3;
        transform: rotate(0deg);
    }

    25% {
        border-color: #4d584d;
        transform: rotate(45deg);
    }

    75% {
        border-color: #584db3;
        transform: rotate(135deg);
    }

    100% {
        border-color: #b3b3b3;
        transform: rotate(180deg);
    }
}

.ring.el-9 {
    border: 2px solid black;
    border-color: #b3b3b3;
    left: 72px;
    top: 72px;
    width: 336px;
    height: 336px;
    border-radius: 117.6px;
    -webkit-animation: el-animate-9 2.5s linear;
    -moz-animation: el-animate-9 2.5s linear;
    animation: el-animate-9 2.5s linear;
    -webkit-animation-delay: 2.1875s;
    -moz-animation-delay: 2.1875s;
    animation-delay: 2.1875s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-10 {
    0% {
        border-color: #aaaaaa;
        transform: rotate(0deg);
    }

    25% {
        border-color: #555355;
        transform: rotate(45deg);
    }

    75% {
        border-color: #5355aa;
        transform: rotate(135deg);
    }

    100% {
        border-color: #aaaaaa;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-10 {
    0% {
        border-color: #aaaaaa;
        transform: rotate(0deg);
    }

    25% {
        border-color: #555355;
        transform: rotate(45deg);
    }

    75% {
        border-color: #5355aa;
        transform: rotate(135deg);
    }

    100% {
        border-color: #aaaaaa;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-10 {
    0% {
        border-color: #aaaaaa;
        transform: rotate(0deg);
    }

    25% {
        border-color: #555355;
        transform: rotate(45deg);
    }

    75% {
        border-color: #5355aa;
        transform: rotate(135deg);
    }

    100% {
        border-color: #aaaaaa;
        transform: rotate(180deg);
    }
}

.ring.el-10 {
    border: 2px solid black;
    border-color: #aaaaaa;
    left: 80px;
    top: 80px;
    width: 320px;
    height: 320px;
    border-radius: 112px;
    -webkit-animation: el-animate-10 2.5s linear;
    -moz-animation: el-animate-10 2.5s linear;
    animation: el-animate-10 2.5s linear;
    -webkit-animation-delay: 2.0833333333s;
    -moz-animation-delay: 2.0833333333s;
    animation-delay: 2.0833333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-11 {
    0% {
        border-color: #a2a2a2;
        transform: rotate(0deg);
    }

    25% {
        border-color: #5e4f5e;
        transform: rotate(45deg);
    }

    75% {
        border-color: #4f5ea2;
        transform: rotate(135deg);
    }

    100% {
        border-color: #a2a2a2;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-11 {
    0% {
        border-color: #a2a2a2;
        transform: rotate(0deg);
    }

    25% {
        border-color: #5e4f5e;
        transform: rotate(45deg);
    }

    75% {
        border-color: #4f5ea2;
        transform: rotate(135deg);
    }

    100% {
        border-color: #a2a2a2;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-11 {
    0% {
        border-color: #a2a2a2;
        transform: rotate(0deg);
    }

    25% {
        border-color: #5e4f5e;
        transform: rotate(45deg);
    }

    75% {
        border-color: #4f5ea2;
        transform: rotate(135deg);
    }

    100% {
        border-color: #a2a2a2;
        transform: rotate(180deg);
    }
}

.ring.el-11 {
    border: 2px solid black;
    border-color: #a2a2a2;
    left: 88px;
    top: 88px;
    width: 304px;
    height: 304px;
    border-radius: 106.4px;
    -webkit-animation: el-animate-11 2.5s linear;
    -moz-animation: el-animate-11 2.5s linear;
    animation: el-animate-11 2.5s linear;
    -webkit-animation-delay: 1.9791666667s;
    -moz-animation-delay: 1.9791666667s;
    animation-delay: 1.9791666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-12 {
    0% {
        border-color: #999999;
        transform: rotate(0deg);
    }

    25% {
        border-color: #664b66;
        transform: rotate(45deg);
    }

    75% {
        border-color: #4b6699;
        transform: rotate(135deg);
    }

    100% {
        border-color: #999999;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-12 {
    0% {
        border-color: #999999;
        transform: rotate(0deg);
    }

    25% {
        border-color: #664b66;
        transform: rotate(45deg);
    }

    75% {
        border-color: #4b6699;
        transform: rotate(135deg);
    }

    100% {
        border-color: #999999;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-12 {
    0% {
        border-color: #999999;
        transform: rotate(0deg);
    }

    25% {
        border-color: #664b66;
        transform: rotate(45deg);
    }

    75% {
        border-color: #4b6699;
        transform: rotate(135deg);
    }

    100% {
        border-color: #999999;
        transform: rotate(180deg);
    }
}

.ring.el-12 {
    border: 2px solid black;
    border-color: #999999;
    left: 96px;
    top: 96px;
    width: 288px;
    height: 288px;
    border-radius: 100.8px;
    -webkit-animation: el-animate-12 2.5s linear;
    -moz-animation: el-animate-12 2.5s linear;
    animation: el-animate-12 2.5s linear;
    -webkit-animation-delay: 1.875s;
    -moz-animation-delay: 1.875s;
    animation-delay: 1.875s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-13 {
    0% {
        border-color: #919191;
        transform: rotate(0deg);
    }

    25% {
        border-color: #6f476f;
        transform: rotate(45deg);
    }

    75% {
        border-color: #476f91;
        transform: rotate(135deg);
    }

    100% {
        border-color: #919191;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-13 {
    0% {
        border-color: #919191;
        transform: rotate(0deg);
    }

    25% {
        border-color: #6f476f;
        transform: rotate(45deg);
    }

    75% {
        border-color: #476f91;
        transform: rotate(135deg);
    }

    100% {
        border-color: #919191;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-13 {
    0% {
        border-color: #919191;
        transform: rotate(0deg);
    }

    25% {
        border-color: #6f476f;
        transform: rotate(45deg);
    }

    75% {
        border-color: #476f91;
        transform: rotate(135deg);
    }

    100% {
        border-color: #919191;
        transform: rotate(180deg);
    }
}

.ring.el-13 {
    border: 2px solid black;
    border-color: #919191;
    left: 104px;
    top: 104px;
    width: 272px;
    height: 272px;
    border-radius: 95.2px;
    -webkit-animation: el-animate-13 2.5s linear;
    -moz-animation: el-animate-13 2.5s linear;
    animation: el-animate-13 2.5s linear;
    -webkit-animation-delay: 1.7708333333s;
    -moz-animation-delay: 1.7708333333s;
    animation-delay: 1.7708333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-14 {
    0% {
        border-color: #888888;
        transform: rotate(0deg);
    }

    25% {
        border-color: #774377;
        transform: rotate(45deg);
    }

    75% {
        border-color: #437788;
        transform: rotate(135deg);
    }

    100% {
        border-color: #888888;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-14 {
    0% {
        border-color: #888888;
        transform: rotate(0deg);
    }

    25% {
        border-color: #774377;
        transform: rotate(45deg);
    }

    75% {
        border-color: #437788;
        transform: rotate(135deg);
    }

    100% {
        border-color: #888888;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-14 {
    0% {
        border-color: #888888;
        transform: rotate(0deg);
    }

    25% {
        border-color: #774377;
        transform: rotate(45deg);
    }

    75% {
        border-color: #437788;
        transform: rotate(135deg);
    }

    100% {
        border-color: #888888;
        transform: rotate(180deg);
    }
}

.ring.el-14 {
    border: 2px solid black;
    border-color: #888888;
    left: 112px;
    top: 112px;
    width: 256px;
    height: 256px;
    border-radius: 89.6px;
    -webkit-animation: el-animate-14 2.5s linear;
    -moz-animation: el-animate-14 2.5s linear;
    animation: el-animate-14 2.5s linear;
    -webkit-animation-delay: 1.6666666667s;
    -moz-animation-delay: 1.6666666667s;
    animation-delay: 1.6666666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-15 {
    0% {
        border-color: gray;
        transform: rotate(0deg);
    }

    25% {
        border-color: #803f80;
        transform: rotate(45deg);
    }

    75% {
        border-color: #3f8080;
        transform: rotate(135deg);
    }

    100% {
        border-color: gray;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-15 {
    0% {
        border-color: gray;
        transform: rotate(0deg);
    }

    25% {
        border-color: #803f80;
        transform: rotate(45deg);
    }

    75% {
        border-color: #3f8080;
        transform: rotate(135deg);
    }

    100% {
        border-color: gray;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-15 {
    0% {
        border-color: gray;
        transform: rotate(0deg);
    }

    25% {
        border-color: #803f80;
        transform: rotate(45deg);
    }

    75% {
        border-color: #3f8080;
        transform: rotate(135deg);
    }

    100% {
        border-color: gray;
        transform: rotate(180deg);
    }
}

.ring.el-15 {
    border: 2px solid black;
    border-color: gray;
    left: 120px;
    top: 120px;
    width: 240px;
    height: 240px;
    border-radius: 84px;
    -webkit-animation: el-animate-15 2.5s linear;
    -moz-animation: el-animate-15 2.5s linear;
    animation: el-animate-15 2.5s linear;
    -webkit-animation-delay: 1.5625s;
    -moz-animation-delay: 1.5625s;
    animation-delay: 1.5625s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-16 {
    0% {
        border-color: #777777;
        transform: rotate(0deg);
    }

    25% {
        border-color: #883a88;
        transform: rotate(45deg);
    }

    75% {
        border-color: #3a8877;
        transform: rotate(135deg);
    }

    100% {
        border-color: #777777;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-16 {
    0% {
        border-color: #777777;
        transform: rotate(0deg);
    }

    25% {
        border-color: #883a88;
        transform: rotate(45deg);
    }

    75% {
        border-color: #3a8877;
        transform: rotate(135deg);
    }

    100% {
        border-color: #777777;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-16 {
    0% {
        border-color: #777777;
        transform: rotate(0deg);
    }

    25% {
        border-color: #883a88;
        transform: rotate(45deg);
    }

    75% {
        border-color: #3a8877;
        transform: rotate(135deg);
    }

    100% {
        border-color: #777777;
        transform: rotate(180deg);
    }
}

.ring.el-16 {
    border: 2px solid black;
    border-color: #777777;
    left: 128px;
    top: 128px;
    width: 224px;
    height: 224px;
    border-radius: 78.4px;
    -webkit-animation: el-animate-16 2.5s linear;
    -moz-animation: el-animate-16 2.5s linear;
    animation: el-animate-16 2.5s linear;
    -webkit-animation-delay: 1.4583333333s;
    -moz-animation-delay: 1.4583333333s;
    animation-delay: 1.4583333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-17 {
    0% {
        border-color: #6f6f6f;
        transform: rotate(0deg);
    }

    25% {
        border-color: #913691;
        transform: rotate(45deg);
    }

    75% {
        border-color: #36916f;
        transform: rotate(135deg);
    }

    100% {
        border-color: #6f6f6f;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-17 {
    0% {
        border-color: #6f6f6f;
        transform: rotate(0deg);
    }

    25% {
        border-color: #913691;
        transform: rotate(45deg);
    }

    75% {
        border-color: #36916f;
        transform: rotate(135deg);
    }

    100% {
        border-color: #6f6f6f;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-17 {
    0% {
        border-color: #6f6f6f;
        transform: rotate(0deg);
    }

    25% {
        border-color: #913691;
        transform: rotate(45deg);
    }

    75% {
        border-color: #36916f;
        transform: rotate(135deg);
    }

    100% {
        border-color: #6f6f6f;
        transform: rotate(180deg);
    }
}

.ring.el-17 {
    border: 2px solid black;
    border-color: #6f6f6f;
    left: 136px;
    top: 136px;
    width: 208px;
    height: 208px;
    border-radius: 72.8px;
    -webkit-animation: el-animate-17 2.5s linear;
    -moz-animation: el-animate-17 2.5s linear;
    animation: el-animate-17 2.5s linear;
    -webkit-animation-delay: 1.3541666667s;
    -moz-animation-delay: 1.3541666667s;
    animation-delay: 1.3541666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-18 {
    0% {
        border-color: #666666;
        transform: rotate(0deg);
    }

    25% {
        border-color: #993299;
        transform: rotate(45deg);
    }

    75% {
        border-color: #329966;
        transform: rotate(135deg);
    }

    100% {
        border-color: #666666;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-18 {
    0% {
        border-color: #666666;
        transform: rotate(0deg);
    }

    25% {
        border-color: #993299;
        transform: rotate(45deg);
    }

    75% {
        border-color: #329966;
        transform: rotate(135deg);
    }

    100% {
        border-color: #666666;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-18 {
    0% {
        border-color: #666666;
        transform: rotate(0deg);
    }

    25% {
        border-color: #993299;
        transform: rotate(45deg);
    }

    75% {
        border-color: #329966;
        transform: rotate(135deg);
    }

    100% {
        border-color: #666666;
        transform: rotate(180deg);
    }
}

.ring.el-18 {
    border: 2px solid black;
    border-color: #666666;
    left: 144px;
    top: 144px;
    width: 192px;
    height: 192px;
    border-radius: 67.2px;
    -webkit-animation: el-animate-18 2.5s linear;
    -moz-animation: el-animate-18 2.5s linear;
    animation: el-animate-18 2.5s linear;
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    animation-delay: 1.25s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-19 {
    0% {
        border-color: #5e5e5e;
        transform: rotate(0deg);
    }

    25% {
        border-color: #a22ea2;
        transform: rotate(45deg);
    }

    75% {
        border-color: #2ea25e;
        transform: rotate(135deg);
    }

    100% {
        border-color: #5e5e5e;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-19 {
    0% {
        border-color: #5e5e5e;
        transform: rotate(0deg);
    }

    25% {
        border-color: #a22ea2;
        transform: rotate(45deg);
    }

    75% {
        border-color: #2ea25e;
        transform: rotate(135deg);
    }

    100% {
        border-color: #5e5e5e;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-19 {
    0% {
        border-color: #5e5e5e;
        transform: rotate(0deg);
    }

    25% {
        border-color: #a22ea2;
        transform: rotate(45deg);
    }

    75% {
        border-color: #2ea25e;
        transform: rotate(135deg);
    }

    100% {
        border-color: #5e5e5e;
        transform: rotate(180deg);
    }
}

.ring.el-19 {
    border: 2px solid black;
    border-color: #5e5e5e;
    left: 152px;
    top: 152px;
    width: 176px;
    height: 176px;
    border-radius: 61.6px;
    -webkit-animation: el-animate-19 2.5s linear;
    -moz-animation: el-animate-19 2.5s linear;
    animation: el-animate-19 2.5s linear;
    -webkit-animation-delay: 1.1458333333s;
    -moz-animation-delay: 1.1458333333s;
    animation-delay: 1.1458333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-20 {
    0% {
        border-color: #555555;
        transform: rotate(0deg);
    }

    25% {
        border-color: #aa2aaa;
        transform: rotate(45deg);
    }

    75% {
        border-color: #2aaa55;
        transform: rotate(135deg);
    }

    100% {
        border-color: #555555;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-20 {
    0% {
        border-color: #555555;
        transform: rotate(0deg);
    }

    25% {
        border-color: #aa2aaa;
        transform: rotate(45deg);
    }

    75% {
        border-color: #2aaa55;
        transform: rotate(135deg);
    }

    100% {
        border-color: #555555;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-20 {
    0% {
        border-color: #555555;
        transform: rotate(0deg);
    }

    25% {
        border-color: #aa2aaa;
        transform: rotate(45deg);
    }

    75% {
        border-color: #2aaa55;
        transform: rotate(135deg);
    }

    100% {
        border-color: #555555;
        transform: rotate(180deg);
    }
}

.ring.el-20 {
    border: 2px solid black;
    border-color: #555555;
    left: 160px;
    top: 160px;
    width: 160px;
    height: 160px;
    border-radius: 56px;
    -webkit-animation: el-animate-20 2.5s linear;
    -moz-animation: el-animate-20 2.5s linear;
    animation: el-animate-20 2.5s linear;
    -webkit-animation-delay: 1.0416666667s;
    -moz-animation-delay: 1.0416666667s;
    animation-delay: 1.0416666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-21 {
    0% {
        border-color: #4d4d4d;
        transform: rotate(0deg);
    }

    25% {
        border-color: #b326b3;
        transform: rotate(45deg);
    }

    75% {
        border-color: #26b34d;
        transform: rotate(135deg);
    }

    100% {
        border-color: #4d4d4d;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-21 {
    0% {
        border-color: #4d4d4d;
        transform: rotate(0deg);
    }

    25% {
        border-color: #b326b3;
        transform: rotate(45deg);
    }

    75% {
        border-color: #26b34d;
        transform: rotate(135deg);
    }

    100% {
        border-color: #4d4d4d;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-21 {
    0% {
        border-color: #4d4d4d;
        transform: rotate(0deg);
    }

    25% {
        border-color: #b326b3;
        transform: rotate(45deg);
    }

    75% {
        border-color: #26b34d;
        transform: rotate(135deg);
    }

    100% {
        border-color: #4d4d4d;
        transform: rotate(180deg);
    }
}

.ring.el-21 {
    border: 2px solid black;
    border-color: #4d4d4d;
    left: 168px;
    top: 168px;
    width: 144px;
    height: 144px;
    border-radius: 50.4px;
    -webkit-animation: el-animate-21 2.5s linear;
    -moz-animation: el-animate-21 2.5s linear;
    animation: el-animate-21 2.5s linear;
    -webkit-animation-delay: 0.9375s;
    -moz-animation-delay: 0.9375s;
    animation-delay: 0.9375s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-22 {
    0% {
        border-color: #444444;
        transform: rotate(0deg);
    }

    25% {
        border-color: #bb21bb;
        transform: rotate(45deg);
    }

    75% {
        border-color: #21bb44;
        transform: rotate(135deg);
    }

    100% {
        border-color: #444444;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-22 {
    0% {
        border-color: #444444;
        transform: rotate(0deg);
    }

    25% {
        border-color: #bb21bb;
        transform: rotate(45deg);
    }

    75% {
        border-color: #21bb44;
        transform: rotate(135deg);
    }

    100% {
        border-color: #444444;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-22 {
    0% {
        border-color: #444444;
        transform: rotate(0deg);
    }

    25% {
        border-color: #bb21bb;
        transform: rotate(45deg);
    }

    75% {
        border-color: #21bb44;
        transform: rotate(135deg);
    }

    100% {
        border-color: #444444;
        transform: rotate(180deg);
    }
}

.ring.el-22 {
    border: 2px solid black;
    border-color: #444444;
    left: 176px;
    top: 176px;
    width: 128px;
    height: 128px;
    border-radius: 44.8px;
    -webkit-animation: el-animate-22 2.5s linear;
    -moz-animation: el-animate-22 2.5s linear;
    animation: el-animate-22 2.5s linear;
    -webkit-animation-delay: 0.8333333333s;
    -moz-animation-delay: 0.8333333333s;
    animation-delay: 0.8333333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-23 {
    0% {
        border-color: #3c3c3c;
        transform: rotate(0deg);
    }

    25% {
        border-color: #c41dc4;
        transform: rotate(45deg);
    }

    75% {
        border-color: #1dc43c;
        transform: rotate(135deg);
    }

    100% {
        border-color: #3c3c3c;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-23 {
    0% {
        border-color: #3c3c3c;
        transform: rotate(0deg);
    }

    25% {
        border-color: #c41dc4;
        transform: rotate(45deg);
    }

    75% {
        border-color: #1dc43c;
        transform: rotate(135deg);
    }

    100% {
        border-color: #3c3c3c;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-23 {
    0% {
        border-color: #3c3c3c;
        transform: rotate(0deg);
    }

    25% {
        border-color: #c41dc4;
        transform: rotate(45deg);
    }

    75% {
        border-color: #1dc43c;
        transform: rotate(135deg);
    }

    100% {
        border-color: #3c3c3c;
        transform: rotate(180deg);
    }
}

.ring.el-23 {
    border: 2px solid black;
    border-color: #3c3c3c;
    left: 184px;
    top: 184px;
    width: 112px;
    height: 112px;
    border-radius: 39.2px;
    -webkit-animation: el-animate-23 2.5s linear;
    -moz-animation: el-animate-23 2.5s linear;
    animation: el-animate-23 2.5s linear;
    -webkit-animation-delay: 0.7291666667s;
    -moz-animation-delay: 0.7291666667s;
    animation-delay: 0.7291666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-24 {
    0% {
        border-color: #333333;
        transform: rotate(0deg);
    }

    25% {
        border-color: #cc19cc;
        transform: rotate(45deg);
    }

    75% {
        border-color: #19cc33;
        transform: rotate(135deg);
    }

    100% {
        border-color: #333333;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-24 {
    0% {
        border-color: #333333;
        transform: rotate(0deg);
    }

    25% {
        border-color: #cc19cc;
        transform: rotate(45deg);
    }

    75% {
        border-color: #19cc33;
        transform: rotate(135deg);
    }

    100% {
        border-color: #333333;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-24 {
    0% {
        border-color: #333333;
        transform: rotate(0deg);
    }

    25% {
        border-color: #cc19cc;
        transform: rotate(45deg);
    }

    75% {
        border-color: #19cc33;
        transform: rotate(135deg);
    }

    100% {
        border-color: #333333;
        transform: rotate(180deg);
    }
}

.ring.el-24 {
    border: 2px solid black;
    border-color: #333333;
    left: 192px;
    top: 192px;
    width: 96px;
    height: 96px;
    border-radius: 33.6px;
    -webkit-animation: el-animate-24 2.5s linear;
    -moz-animation: el-animate-24 2.5s linear;
    animation: el-animate-24 2.5s linear;
    -webkit-animation-delay: 0.625s;
    -moz-animation-delay: 0.625s;
    animation-delay: 0.625s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-25 {
    0% {
        border-color: #2b2b2b;
        transform: rotate(0deg);
    }

    25% {
        border-color: #d515d5;
        transform: rotate(45deg);
    }

    75% {
        border-color: #15d52b;
        transform: rotate(135deg);
    }

    100% {
        border-color: #2b2b2b;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-25 {
    0% {
        border-color: #2b2b2b;
        transform: rotate(0deg);
    }

    25% {
        border-color: #d515d5;
        transform: rotate(45deg);
    }

    75% {
        border-color: #15d52b;
        transform: rotate(135deg);
    }

    100% {
        border-color: #2b2b2b;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-25 {
    0% {
        border-color: #2b2b2b;
        transform: rotate(0deg);
    }

    25% {
        border-color: #d515d5;
        transform: rotate(45deg);
    }

    75% {
        border-color: #15d52b;
        transform: rotate(135deg);
    }

    100% {
        border-color: #2b2b2b;
        transform: rotate(180deg);
    }
}

.ring.el-25 {
    border: 2px solid black;
    border-color: #2b2b2b;
    left: 200px;
    top: 200px;
    width: 80px;
    height: 80px;
    border-radius: 28px;
    -webkit-animation: el-animate-25 2.5s linear;
    -moz-animation: el-animate-25 2.5s linear;
    animation: el-animate-25 2.5s linear;
    -webkit-animation-delay: 0.5208333333s;
    -moz-animation-delay: 0.5208333333s;
    animation-delay: 0.5208333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-26 {
    0% {
        border-color: #222222;
        transform: rotate(0deg);
    }

    25% {
        border-color: #dd11dd;
        transform: rotate(45deg);
    }

    75% {
        border-color: #11dd22;
        transform: rotate(135deg);
    }

    100% {
        border-color: #222222;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-26 {
    0% {
        border-color: #222222;
        transform: rotate(0deg);
    }

    25% {
        border-color: #dd11dd;
        transform: rotate(45deg);
    }

    75% {
        border-color: #11dd22;
        transform: rotate(135deg);
    }

    100% {
        border-color: #222222;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-26 {
    0% {
        border-color: #222222;
        transform: rotate(0deg);
    }

    25% {
        border-color: #dd11dd;
        transform: rotate(45deg);
    }

    75% {
        border-color: #11dd22;
        transform: rotate(135deg);
    }

    100% {
        border-color: #222222;
        transform: rotate(180deg);
    }
}

.ring.el-26 {
    border: 2px solid black;
    border-color: #222222;
    left: 208px;
    top: 208px;
    width: 64px;
    height: 64px;
    border-radius: 22.4px;
    -webkit-animation: el-animate-26 2.5s linear;
    -moz-animation: el-animate-26 2.5s linear;
    animation: el-animate-26 2.5s linear;
    -webkit-animation-delay: 0.4166666667s;
    -moz-animation-delay: 0.4166666667s;
    animation-delay: 0.4166666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-27 {
    0% {
        border-color: #1a1a1a;
        transform: rotate(0deg);
    }

    25% {
        border-color: #e60de6;
        transform: rotate(45deg);
    }

    75% {
        border-color: #0de61a;
        transform: rotate(135deg);
    }

    100% {
        border-color: #1a1a1a;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-27 {
    0% {
        border-color: #1a1a1a;
        transform: rotate(0deg);
    }

    25% {
        border-color: #e60de6;
        transform: rotate(45deg);
    }

    75% {
        border-color: #0de61a;
        transform: rotate(135deg);
    }

    100% {
        border-color: #1a1a1a;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-27 {
    0% {
        border-color: #1a1a1a;
        transform: rotate(0deg);
    }

    25% {
        border-color: #e60de6;
        transform: rotate(45deg);
    }

    75% {
        border-color: #0de61a;
        transform: rotate(135deg);
    }

    100% {
        border-color: #1a1a1a;
        transform: rotate(180deg);
    }
}

.ring.el-27 {
    border: 2px solid black;
    border-color: #1a1a1a;
    left: 216px;
    top: 216px;
    width: 48px;
    height: 48px;
    border-radius: 16.8px;
    -webkit-animation: el-animate-27 2.5s linear;
    -moz-animation: el-animate-27 2.5s linear;
    animation: el-animate-27 2.5s linear;
    -webkit-animation-delay: 0.3125s;
    -moz-animation-delay: 0.3125s;
    animation-delay: 0.3125s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-28 {
    0% {
        border-color: #111111;
        transform: rotate(0deg);
    }

    25% {
        border-color: #ee08ee;
        transform: rotate(45deg);
    }

    75% {
        border-color: #08ee11;
        transform: rotate(135deg);
    }

    100% {
        border-color: #111111;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-28 {
    0% {
        border-color: #111111;
        transform: rotate(0deg);
    }

    25% {
        border-color: #ee08ee;
        transform: rotate(45deg);
    }

    75% {
        border-color: #08ee11;
        transform: rotate(135deg);
    }

    100% {
        border-color: #111111;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-28 {
    0% {
        border-color: #111111;
        transform: rotate(0deg);
    }

    25% {
        border-color: #ee08ee;
        transform: rotate(45deg);
    }

    75% {
        border-color: #08ee11;
        transform: rotate(135deg);
    }

    100% {
        border-color: #111111;
        transform: rotate(180deg);
    }
}

.ring.el-28 {
    border: 2px solid black;
    border-color: #111111;
    left: 224px;
    top: 224px;
    width: 32px;
    height: 32px;
    border-radius: 11.2px;
    -webkit-animation: el-animate-28 2.5s linear;
    -moz-animation: el-animate-28 2.5s linear;
    animation: el-animate-28 2.5s linear;
    -webkit-animation-delay: 0.2083333333s;
    -moz-animation-delay: 0.2083333333s;
    animation-delay: 0.2083333333s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-29 {
    0% {
        border-color: #090909;
        transform: rotate(0deg);
    }

    25% {
        border-color: #f704f7;
        transform: rotate(45deg);
    }

    75% {
        border-color: #04f709;
        transform: rotate(135deg);
    }

    100% {
        border-color: #090909;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-29 {
    0% {
        border-color: #090909;
        transform: rotate(0deg);
    }

    25% {
        border-color: #f704f7;
        transform: rotate(45deg);
    }

    75% {
        border-color: #04f709;
        transform: rotate(135deg);
    }

    100% {
        border-color: #090909;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-29 {
    0% {
        border-color: #090909;
        transform: rotate(0deg);
    }

    25% {
        border-color: #f704f7;
        transform: rotate(45deg);
    }

    75% {
        border-color: #04f709;
        transform: rotate(135deg);
    }

    100% {
        border-color: #090909;
        transform: rotate(180deg);
    }
}

.ring.el-29 {
    border: 2px solid black;
    border-color: #090909;
    left: 232px;
    top: 232px;
    width: 16px;
    height: 16px;
    border-radius: 5.6px;
    -webkit-animation: el-animate-29 2.5s linear;
    -moz-animation: el-animate-29 2.5s linear;
    animation: el-animate-29 2.5s linear;
    -webkit-animation-delay: 0.1041666667s;
    -moz-animation-delay: 0.1041666667s;
    animation-delay: 0.1041666667s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes el-animate-30 {
    0% {
        border-color: black;
        transform: rotate(0deg);
    }

    25% {
        border-color: magenta;
        transform: rotate(45deg);
    }

    75% {
        border-color: lime;
        transform: rotate(135deg);
    }

    100% {
        border-color: black;
        transform: rotate(180deg);
    }
}

@-moz-keyframes el-animate-30 {
    0% {
        border-color: black;
        transform: rotate(0deg);
    }

    25% {
        border-color: magenta;
        transform: rotate(45deg);
    }

    75% {
        border-color: lime;
        transform: rotate(135deg);
    }

    100% {
        border-color: black;
        transform: rotate(180deg);
    }
}

@keyframes el-animate-30 {
    0% {
        border-color: black;
        transform: rotate(0deg);
    }

    25% {
        border-color: magenta;
        transform: rotate(45deg);
    }

    75% {
        border-color: lime;
        transform: rotate(135deg);
    }

    100% {
        border-color: black;
        transform: rotate(180deg);
    }
}

.ring.el-30 {
    border: 2px solid black;
    border-color: black;
    left: 240px;
    top: 240px;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    -webkit-animation: el-animate-30 2.5s linear;
    -moz-animation: el-animate-30 2.5s linear;
    animation: el-animate-30 2.5s linear;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
